version: '3.8'
services:
  frontend:
    build: ./front-end
    ports:
      - "3000:80"

  backend:
    build: ./back-end
    environment:
      - DATABASE_URL=postgresql://postgres:password@postgres:5432/mydb
    ports:
      - "5000:5000"

  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5434:5432" 
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
